body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4.4rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.04rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.8rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #0ba410 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0ba410 !important;
  border-color: #0ba410 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #065c09 !important;
  border-color: #065c09 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #065c09 !important;
  border-color: #065c09 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #054407;
  color: #054407;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0ba410;
  border-color: #0ba410;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0ba410 !important;
  border-color: #0ba410 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #0ba410 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b566f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #054407 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0ba410;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #3df242;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-uEXzpEwFRO {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uEXzpEwFRO .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uEXzpEwFRO .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uEXzpEwFRO .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uEXzpEwFRO .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-uEXzpEwFRO .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uEXzpEwFRO .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uEXzpEwFRO .navbar-nav {
  margin: auto;
  margin-left: 0;
}
.cid-uEXzpEwFRO .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-uEXzpEwFRO .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-uEXzpEwFRO .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uEXzpEwFRO .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uEXzpEwFRO .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uEXzpEwFRO .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-uEXzpEwFRO .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uEXzpEwFRO .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uEXzpEwFRO .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uEXzpEwFRO .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uEXzpEwFRO .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-uEXzpEwFRO .navbar-caption {
  padding-left: 1rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-uEXzpEwFRO .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uEXzpEwFRO .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-uEXzpEwFRO .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.6) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #000000;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-uEXzpEwFRO .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uEXzpEwFRO .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-uEXzpEwFRO .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uEXzpEwFRO .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #000000;
  background: rgba(0, 0, 0, 0.6) !important;
}
.cid-uEXzpEwFRO .nav-item:focus,
.cid-uEXzpEwFRO .nav-link:focus {
  outline: none;
}
.cid-uEXzpEwFRO .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uEXzpEwFRO .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uEXzpEwFRO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uEXzpEwFRO .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uEXzpEwFRO .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uEXzpEwFRO .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uEXzpEwFRO .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uEXzpEwFRO .navbar.opened {
  transition: all 0.3s;
}
.cid-uEXzpEwFRO .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uEXzpEwFRO .navbar .navbar-logo img {
  width: auto;
}
.cid-uEXzpEwFRO .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uEXzpEwFRO .navbar.collapsed {
  justify-content: center;
}
.cid-uEXzpEwFRO .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uEXzpEwFRO .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uEXzpEwFRO .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 1.8rem);
  }
}
.cid-uEXzpEwFRO .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uEXzpEwFRO .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uEXzpEwFRO .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uEXzpEwFRO .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uEXzpEwFRO .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uEXzpEwFRO .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uEXzpEwFRO .navbar {
    min-height: 72px;
  }
  .cid-uEXzpEwFRO .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uEXzpEwFRO .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uEXzpEwFRO .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uEXzpEwFRO .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uEXzpEwFRO .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uEXzpEwFRO .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uEXzpEwFRO .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uEXzpEwFRO .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uEXzpEwFRO .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uEXzpEwFRO .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uEXzpEwFRO .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uEXzpEwFRO .dropdown-item.active,
.cid-uEXzpEwFRO .dropdown-item:active {
  background-color: transparent;
}
.cid-uEXzpEwFRO .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uEXzpEwFRO .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uEXzpEwFRO .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uEXzpEwFRO .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-uEXzpEwFRO .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uEXzpEwFRO .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uEXzpEwFRO ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uEXzpEwFRO .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uEXzpEwFRO .navbar-buttons {
    text-align: left;
  }
}
.cid-uEXzpEwFRO button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uEXzpEwFRO button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uEXzpEwFRO button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uEXzpEwFRO button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uEXzpEwFRO button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uEXzpEwFRO button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uEXzpEwFRO nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uEXzpEwFRO nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uEXzpEwFRO nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uEXzpEwFRO nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uEXzpEwFRO .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uEXzpEwFRO a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uEXzpEwFRO .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uEXzpEwFRO .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uEXzpEwFRO .navbar {
    height: 70px;
  }
  .cid-uEXzpEwFRO .navbar.opened {
    height: auto;
  }
  .cid-uEXzpEwFRO .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uEXzpEwFRO .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uEXzpEwFRO .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uEXzpEwFRO .navbar-brand {
    margin-right: auto;
  }
  .cid-uEXzpEwFRO .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #000000;
    opacity: 1;
    border-color: rgba(0, 0, 0, 0.6) !important;
    background: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(8px);
  }
  .cid-uEXzpEwFRO .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uEXzpEwFRO .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uEXzpEwFRO .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uEXzpEwFRO .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uEXzpEwFRO .navbar-collapse {
    padding: 1rem;
  }
}
.cid-uEXAB9kpzm {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-uEXAB9kpzm .mbr-text,
.cid-uEXAB9kpzm .typed-text,
.cid-uEXAB9kpzm .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-uEXAB9kpzm .row {
  backdrop-filter: blur(10px);
  border: 1px solid white;
}
.cid-uEXAB9kpzm .btn {
  margin-left: 4px !important;
}
.cid-uEXAB9kpzm .animated-element {
  color: #ffbc00;
}
.cid-uEXAB9kpzm .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-uEXAB9kpzm .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uEXAB9kpzm .mbr-section-text,
.cid-uEXAB9kpzm .mbr-section-btn {
  color: #d3d3d3;
}
.cid-uEXJzdNgs5 {
  background-color: #000000;
}
.cid-uEXJzdNgs5 .trans-wave {
  opacity: 1;
  fill: #000000;
  pointer-events: none;
}
.cid-uEXJzdNgs5 .dentaura-container {
  height: 40px;
  position: relative;
  width: 100%;
}
.cid-uEXJzdNgs5 .dentaura-y-up {
  position: absolute;
  bottom: 39px;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.cid-uEXJzdNgs5 .dentaura-cover {
  background: transparent;
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.cid-uEXJzdNgs5 .dentaura-y-down {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
.cid-uEXJzdNgs5 .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5);
  animation-iteration-count: infinite;
}
.cid-uEXJzdNgs5 .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.cid-uEXJzdNgs5 .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.cid-uEXJzdNgs5 .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.cid-uEXJzdNgs5 .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .cid-uEXJzdNgs5 .dentaura-y-down {
    height: 40px;
    min-height: 40px;
  }
}
.cid-uEXDTr1zk4 {
  padding-top: 120px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-uEXDTr1zk4 .container {
  max-width: 1500px;
}
.cid-uEXDTr1zk4 img {
  width: 100%;
}
.cid-uEXDTr1zk4 h2 {
  padding: 0;
  margin: 0;
}
.cid-uEXDTr1zk4 .text-wrap {
  max-width: 500px;
  margin: auto;
}
.cid-uEXDTr1zk4 .number {
  border-top: 2px solid currentColor;
  padding-top: 0.4rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
  width: fit-content;
}
.cid-uEXDTr1zk4 .img-col {
  position: relative;
}
.cid-uEXDTr1zk4 .img2 {
  position: absolute;
  right: 6rem;
  top: -6rem;
  width: 320px;
}
@media (max-width: 1200px) {
  .cid-uEXDTr1zk4 .img2 {
    right: 3rem;
  }
}
@media (max-width: 992px) {
  .cid-uEXDTr1zk4 .title-col {
    margin-top: 4rem!important;
  }
  .cid-uEXDTr1zk4 .img2 {
    top: -2rem;
  }
  .cid-uEXDTr1zk4 .text-wrap {
    max-width: 550px;
  }
}
@media (max-width: 767px) {
  .cid-uEXDTr1zk4 .img2 {
    width: 50%;
  }
  .cid-uEXDTr1zk4 .number {
    margin: auto;
  }
}
.cid-uEXDTr1zk4 H2 {
  color: #ffffff;
}
.cid-uEXDTr1zk4 .mbr-text {
  color: #ffffff;
}
.cid-uEXHBiD91r {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uEXHBiD91r h3:before {
  position: absolute;
  content: "";
  top: 4rem;
  width: 55%;
  height: 2px;
  background-color: #98d9e1;
  background-image: linear-gradient(315deg, #98d9e1 0%, #d6aed6 74%);
}
.cid-uEXHBiD91r p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.cid-uEXHBiD91r .frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cid-uEXHBiD91r .btn0 {
  position: relative;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.cid-uEXHBiD91r .btn0:hover {
  text-decoration: none;
}
.cid-uEXHBiD91r .btn0:active {
  color: #fff;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.cid-uEXHBiD91r .btn1 {
  background-color: #e8d1ff;
  color: #ce9eff;
}
.cid-uEXHBiD91r .btn1:hover {
  animation: hoverShake 0.15s linear 3;
}
.cid-uEXHBiD91r .btn2 {
  color: #5cbdbb;
  background-color: #b2e0df;
}
.cid-uEXHBiD91r .btn2:hover {
  animation: fluffy 0.8s linear 0s 1;
}
.cid-uEXHBiD91r .btn3 {
  color: #ff84c1;
  background-color: #ffc1e0;
}
.cid-uEXHBiD91r .btn3:hover {
  animation: mochi 0.8s linear 0s 1;
}
.cid-uEXHBiD91r .btn4 {
  color: #84c1ff;
  background-color: #b2d8ff;
}
.cid-uEXHBiD91r .btn4:hover {
  animation: poyon 1.1s linear 0s 1;
}
@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@keyframes fluffy {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}
@keyframes poyon {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  5% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  10% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  20% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  30% {
    transform: scale(0.9, 1.2) translate(0%, -100%);
  }
  40% {
    transform: scale(1.4, 0.6) translate(0%, 30%);
  }
  50% {
    transform: scale(0.9, 1.1) translate(0%, -10%);
  }
  60% {
    transform: scale(0.95, 1.2) translate(0%, -30%);
  }
  70% {
    transform: scale(0.95, 1.2) translate(0%, -10%);
  }
  80% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  90% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}
@keyframes mochi {
  0% {
    transform: scale(1, 0.8);
  }
  20% {
    transform: scale(0.8, 1.1);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
.cid-uEXFsjIcGL {
  padding-top: 60px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-uEXFsjIcGL .card-wrapper {
  z-index: 3;
}
.cid-uEXFsjIcGL .card-wrapper .mbr-section-title {
  letter-spacing: 1px;
  transition: all 2.5s cubic-bezier(0, 0.74, 0.52, 1.2);
}
.cid-uEXFsjIcGL:hover .mbr-section-title {
  letter-spacing: 10px;
}
.cid-uEXFsjIcGL .full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-uEXFsjIcGL .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-uEXKrsW9TV {
  background-color: #000000;
}
.cid-uEXKrsW9TV .trans-wave {
  opacity: 0.35;
  fill: #000000;
  pointer-events: none;
}
.cid-uEXKrsW9TV .wave {
  fill: #000000;
  pointer-events: none;
}
.cid-uEXKrsW9TV .dentaura-container {
  height: 40px;
  position: relative;
  width: 100%;
}
.cid-uEXKrsW9TV .dentaura-y-up {
  position: absolute;
  top: 39px;
  z-index: 1;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.cid-uEXKrsW9TV .dentaura-cover {
  background: transparent;
  height: 390px;
  width: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-uEXKrsW9TV .dentaura-y-down {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.cid-uEXK2QKbO6 {
  padding-top: 75px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/mbr-1920x1272.jpg");
}
.cid-uEXK2QKbO6 .container-fluid {
  padding: 0 3rem;
}
.cid-uEXK2QKbO6 .card {
  display: block;
}
.cid-uEXK2QKbO6 .card .card-wrapper {
  height: 1%;
}
.cid-uEXK2QKbO6 .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.cid-uEXK2QKbO6 .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-uEXK2QKbO6 .card .card-wrapper .card-img:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-uEXK2QKbO6 .text-row {
  -webkit-align-self: center;
  align-self: center;
}
@media (max-width: 767px) {
  .cid-uEXK2QKbO6 .container-fluid {
    padding: 0 1rem;
  }
  .cid-uEXK2QKbO6 .text-row {
    padding-bottom: 1rem;
  }
}
.cid-uEXK2QKbO6 H2 {
  color: #ffffff;
}
.cid-uEXK2QKbO6 .mbr-text,
.cid-uEXK2QKbO6 .card-btn {
  color: #ffffff;
}
.cid-uEXQa3IWQG {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-uEXQa3IWQG .dentaura-cover {
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.cid-uEXQa3IWQG hr.dashed {
  border-top: 1px dashed #999999;
  width: 100%;
}
.cid-uEXQa3IWQG hr.dotted {
  border-top: 1px dotted #999999;
  width: 100%;
}
.cid-uEXQa3IWQG hr.solid {
  border-top: 1px solid #999999;
  width: 100%;
}
.cid-uEXQa3IWQG hr.double {
  border-top: 3px double #999999;
  width: 100%;
}
.cid-uEXQa3IWQG hr.splitends {
  height: 30px;
  border-style: solid;
  border-color: #999999;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 100%;
}
.cid-uEXQa3IWQG hr.splitends:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #999999;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.cid-uEXPFmMn29 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uEXPFmMn29 .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uEXPFmMn29 .item-wrapper {
  background: #cccccc;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uEXPFmMn29 .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uEXPFmMn29 .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-uEXPFmMn29 .card-title,
.cid-uEXPFmMn29 .iconfont-wrapper {
  color: #000000;
}
.cid-uEXPFmMn29 .card-text {
  color: #000000;
  text-align: left;
}
.cid-uEXPFmMn29 .content-head {
  max-width: 800px;
}
.cid-uEXPFmMn29 .mbr-section-title {
  color: #ffffff;
}
.cid-uEXPFmMn29 .card-title,
.cid-uEXPFmMn29 .img-wrapper {
  text-align: center;
}
.cid-uEXPFmMn29 .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-PRpb4AaOe6 {
  background-image: linear-gradient(187deg, #000000 10%, #0ba410 100%) !important;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .cid-PRpb4AaOe6 .row .form-wrapper {
    margin-top: 1rem;
  }
}
.cid-PRpb4AaOe6 .map-wrapper {
  margin-top: 1rem;
}
.cid-PRpb4AaOe6 .form-wrapper {
  margin-top: 0rem;
}
.cid-PRpb4AaOe6 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-PRpb4AaOe6 .card-wrapper {
  display: flex;
  border-radius: 5.5px !important;
  background: #353535;
}
.cid-PRpb4AaOe6 .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .cid-PRpb4AaOe6 .card-wrapper {
    padding: 1rem 1rem;
  }
}
@media (min-width: 992px) {
  .cid-PRpb4AaOe6 .card-wrapper {
    padding: 1rem 1rem;
  }
}
.cid-PRpb4AaOe6 .mbr-iconfont {
  font-size: 4rem;
  padding-right: 2rem;
  color: #000000;
}
.cid-PRpb4AaOe6 .google-map {
  height: 20rem;
  position: relative;
}
.cid-PRpb4AaOe6 .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 5.5px !important;
}
.cid-PRpb4AaOe6 .google-map [data-state-details] {
  color: #ff0000;
  height: 1em;
  margin-top: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-PRpb4AaOe6 .google-map[data-state] {
  background: #ffb300;
}
.cid-PRpb4AaOe6 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-PRpb4AaOe6 .showAlerts {
  display: block !important;
}
.cid-PRpb4AaOe6 .rowflexrev {
  display: -webkit-flex;
}
.cid-PRpb4AaOe6 .ws-form-alerts {
  margin-top: 1rem;
}
.cid-PRpb4AaOe6 .title {
  margin-bottom: 2rem;
}
.cid-PRpb4AaOe6 .mbr-section-subtitle {
  color: #fafafa;
}
.cid-PRpb4AaOe6 textarea.form-control {
  min-height: 188px;
}
.cid-PRpb4AaOe6 LABEL {
  color: #232323;
  display: initial;
}
.cid-PRpb4AaOe6 .mbr-section-terms {
  text-align: center;
  color: #000000;
  margin-bottom: 0px;
}
.cid-PRpb4AaOe6 .mbr-section-labels {
  color: #232323;
  padding: 0;
  margin-bottom: .357em;
  text-align: left;
}
.cid-PRpb4AaOe6 .mbr-section-autorespond {
  text-align: left;
  color: #232323;
  margin-bottom: 0px;
}
.cid-PRpb4AaOe6 .mbr-section-gdpr {
  text-align: center;
  color: #fafafa;
  margin-bottom: 0px;
}
.cid-PRpb4AaOe6 .alert {
  margin-bottom: 0;
}
.cid-PRpb4AaOe6 .alert-success {
  background-color: #70c770;
}
.cid-PRpb4AaOe6 .alert-danger {
  background-color: #ff4a52;
}
.cid-PRpb4AaOe6 .btn {
  display: inline-flex;
}
.cid-PRpb4AaOe6 .hidden {
  display: none;
}
.cid-PRpb4AaOe6 .mbr-alert-success {
  text-align: center;
  color: #232323;
}
.cid-PRpb4AaOe6 .mbr-alert-danger {
  text-align: center;
  color: #232323;
}
.cid-PRpb4AaOe6 .uploadBtn {
  padding-top: 13px !important;
  padding-left: 12.5px !important;
}
.cid-PRpb4AaOe6 input[type=file]::file-selector-button {
  border: 1px solid #232323 !important;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #cccccc !important;
  color: #232323 !important;
  transition: 0.3s;
}
.cid-PRpb4AaOe6 input[type=file]::-webkit-file-upload-button {
  border: 1px solid #232323 !important;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #cccccc !important;
  color: #232323 !important;
  transition: 0.3s;
}
.cid-PRpb4AaOe6 input[type=file]::-ms-browse {
  border: 1px solid #232323 !important;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #cccccc !important;
  color: #232323 !important;
  transition: 0.3s;
}
.cid-PRpb4AaOe6 input,
.cid-PRpb4AaOe6 textarea {
  background-color: #bbbbbb !important;
}
.cid-PRpb4AaOe6 .form-control {
  border: 3.5px solid #6592e6 !important;
}
.cid-PRpb4AaOe6 .form-control:hover {
  border: 3.5px solid #ffe161 !important;
}
.cid-PRpb4AaOe6 .form-control:focus {
  border: 3.5px solid #ffe161 !important;
}
.cid-PRpb4AaOe6 .mbr-section-title {
  color: #ffe161;
}
.cid-PRpb4AaOe6 P {
  color: #fafafa;
  text-align: left;
}
.cid-PRpb4AaOe6 .card-title {
  text-align: left;
  color: #ffe161;
}
.cid-uEXT1Opowm {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-uEXT1Opowm .container-fluid {
  margin: 0px;
  padding: 0px;
  height: auto;
  min-height: 50px;
}
.cid-uEXT1Opowm .dentaura-cover {
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  height: 50px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.cid-uEXT1Opowm .dentaura-cover .dentaura-skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -80px;
  overflow: visible;
  width: 100%;
  height: 109px;
  background-color: #0ba410;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  -webkit-box-shadow: 0 -8px 5px 10px #777777;
  -moz-box-shadow: 0 -8px 5px 10px #777777;
  box-shadow: 0 -8px 5px 10px #777777;
}
.cid-uEXSxi8y1i {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.cid-uEXSxi8y1i .container {
  max-width: 1400px;
}
.cid-uEXSxi8y1i .card-img2 span {
  padding-top: 6px;
}
.cid-uEXSxi8y1i .soc-item a {
  padding-top: 5px;
}
.cid-uEXSxi8y1i .btn {
  padding: 0.4rem 0.6rem !important;
  margin: 0.5rem !important;
  border-radius: 10px !important;
  letter-spacing: 0px;
}
.cid-uEXSxi8y1i .btn .mbr-iconfont {
  margin-top: 0.1rem;
}
.cid-uEXSxi8y1i .btn .mbr-iconfont.socicon {
  margin-right: 0.8rem !important;
  order: 0;
}
@media (max-width: 992px) {
  .cid-uEXSxi8y1i .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-uEXSxi8y1i svg {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.6) rotate(180deg);
}
.cid-uEXSxi8y1i #e2_shape {
  fill: #000000 !important;
}
.cid-uEXSxi8y1i .quote {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  margin-bottom: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.cid-uEXSxi8y1i .quote::after {
  top: 100%;
  left: 36px;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent;
}
.cid-uEXSxi8y1i .card-img2 {
  min-width: 45px;
  height: 45px;
  background: #000000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uEXSxi8y1i .card-img {
  width: auto;
}
.cid-uEXSxi8y1i .soc-item {
  width: 45px;
  height: 45px;
  background: #ffffff;
  margin-bottom: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.cid-uEXSxi8y1i .soc-item span {
  font-size: 1.4rem;
}
.cid-uEXSxi8y1i .soc-item:hover span {
  color: #000000 !important;
}
.cid-uEXSxi8y1i .item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cid-uEXSxi8y1i .item h4 {
  padding-left: 10px;
  margin: 0;
}
.cid-uEXSxi8y1i .media-wrap {
  margin-bottom: 1rem;
}
.cid-uEXSxi8y1i .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-uEXSxi8y1i img {
  height: 4rem;
  width: auto;
}
@media (max-width: 576px) {
  .cid-uEXSxi8y1i .item {
    justify-content: center;
  }
  .cid-uEXSxi8y1i .quote::after {
    left: 60px;
  }
}
.cid-uEXSxi8y1i .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .cid-uEXSxi8y1i .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-uEXSxi8y1i .text1 {
  color: #ffffff;
}
.cid-uEXSxi8y1i .item-title {
  color: #ffffff;
}
.cid-uEXSxi8y1i H5 {
  color: #ffffff;
}
.cid-uEXSxi8y1i .theme {
  color: #ffffff;
}
.cid-uEXSxi8y1i .copyright > p {
  color: #ff3366;
}
.cid-uEXSxi8y1i .text2 {
  color: #ffffff;
}
